.navigation {
	@extend %clearfix;

	li {
		position: relative;
	}

	li:hover > ul {
		display: block;
	}

	a {
		color: inherit;
		display: block;
		text-decoration: none;
	}
}


.navigation .menu > li {
	float: left;
}


.navigation .menu ul {
	display: none;
	left: 0;
	position: absolute;
	top: 100%;

	ul {
		left: 100%;
		top: 0;
	}
}