.footer {
	@extend %clearfix;
	color: $colorText;
	padding: 15px 0;

	.work-shop,
	.support span {
		display: inline-block;
		font-size: em($fontSmall);
		font-weight: normal;
		line-height: 40px;
		text-transform: uppercase;
	}

	.work-shop {
		margin-left: 10px;
	}

	.support span {
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid $colorDet;
	}

	.support,
	.support img {
		float: right;
	}

	.branding-footer,
	.branding-footer img {
		float: left;
	}
}