.menu-fixed .navigation-fixed {
	background: rgba($colorDefault, .95);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 25;
	width: 100%;

	.nav-top {
		margin: 0 auto;
		width: $container;
	}
}

.nav-top {
	border-bottom: 1px solid $colorDet;
	color: $colorText;
	text-transform: uppercase;
}

.nav-top .menu > li > a {
	@include transition( color .2s );
	padding-top: 22px;
	min-height: 60px;

	&:hover {
		color: $colorSec;
	}
}

.nav-top li {
	margin-left: perc(40px, $container);

	&:first-child {
		margin-left: 0;
	}
}

.nav-top .menu .active-menu {
	
	a {
		cursor: default;
	}

	a:hover {
		color: $colorText;
	}

	&:before {
		background: $colorSec;
		content: '';
		height: 5px;
		left: 0;
		margin-top: -2px;
		position: absolute;
		top: 100%;
		width: 100%;
	}	
}