$bg 			: #fff;


// COLOR
$colorPri 		: #073b4f;
$colorSec 		: #ffce06;
$colorDet 		: #cecece;
$colorText 		: #4d4d4d;
$colorDefault	: #fff;


// FONT FAMILY
$fontPri 		: 'ebrimaregular';
$fontSec 		: arial;
$fontIcon 		: 'icomoon';


// FONT SIZE
$fontDefault 	: 14px;
$fontSmall 		: 12px;
$fontMedium 	: 15px;
$fontLarge 		: 18px;
$fontXLarge 	: 30px;


// GRID
$container 		: 1200px;
$content 		: 700px;
$sidebar 		: 200px;
$gutter			: 100px;
$desktop		: 979px;
$tablet 		: 769px;
$mobile 		: 481px;