.contributor {
	color: rgba($colorDefault,.8);
	font-size: em($fontSmall);
	font-weight: normal;
	letter-spacing: 0.5px;
	text-decoration: none;

	.avatar {
		border-radius: 100%;
		margin-bottom: 5px;
	}
}


.contributors {
	background: $colorPri image-url('bg-contributors.png') no-repeat center bottom;
	background-attachment: fixed;
	background-size: cover;
	padding: 30px 0;
	text-align: center;

	.title-section {
		color: $colorDefault;
		margin-bottom: 30px;
	}

	.info {
		color: $colorDefault;
		font-size: em($fontMedium);
		margin-bottom: 30px;
	}

	.contributor {
		display: inline-block;
		margin: 0 10px;
	}
}