.btn {
	background: none;
	border: 1px solid rgba($colorDefault,.5);
	color: rgba($colorDefault,.5);
	height: 35px;
	line-height: 30px;

	&:hover {
		border-color: $colorDefault;
		color: $colorDefault;
	}	
}

a.btn {
	text-decoration: none;
	padding: 7px 25px;
	outline: none;
}

.btn-sec {
	@include scale(1);
	background: darken($colorSec,2%);
	border: none;
	color: #fff;
	font-size: em($fontSmall);
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	text-shadow: 0 1px 0 darken($colorSec,10%);

	&:hover {
		opacity: .8;
	}
}


.btn,
.btn-sec {
	@include transition( .2s );
	border-radius: 20px;
	cursor: pointer;
	padding: 0 20px;
	text-transform: uppercase;	

	&:active {
		@include scale(.98);
	}
}

button {
	outline: none;
}