.card-speaker {
	@include transition( transform .3s );
	@include transform3d( translateY(0) );
	background: $colorDefault;
	border: 1px solid $colorDet;
	border-radius: 5px;
	color: $colorText;
	min-height: 265px;
	padding-bottom: 30px;
	position: relative;
	text-align: center;

	&:hover {
		@include transform3d( translateY(-5px) );
	}

	.avatar {
		border-radius: 100%;
		margin-top: 20px;
	}

	.name,
	.lecture {
		margin-top: 15px;
	}

	.lecture {
		color: $colorPri;
		margin-bottom: 20px;
	}

	.date {
		background: rgba( $colorDet, .3 );
		bottom: 0;
		left: 0;
		line-height: 30px;
		height: 30px;
		position: absolute;
		width: 100%;
	}
}

.card-speaker.active {
	box-shadow: 0 3px 10px 0 rgba( $colorDet, .4 );
	@include transform3d( translateY(-5px) );
	z-index: 21;

	&:before {
		content: '';
		border-color: transparent transparent $colorDefault transparent;
		border-style: solid;
		border-width: 10px;
		left: 50%;
		margin: 8px 0 0 -10px;
		position: absolute;
		top: 100%;
	}
}