// variables form
$inputHeight 	: 35px;
$inputBorder 	: 1px solid transparent;
$inputRadius 	: 5px;
$inputPadding 	: 5px;
$inputSize 		: $fontDefault;
$inputFont 		: $fontPri;

$labelSize 		: $fontDefault;
$labelFont 		: $fontPri;


form ul {
	list-style: none;
}

input,
textarea {
	border: $inputBorder;
	border-radius: $inputRadius;
	font: em($inputSize)/1 $inputFont;
	height: $inputHeight;
	margin-bottom: 5px;
	padding: $inputPadding;
	width: 100%;

	&:focus {
		outline: none;
	}

	@include placeholder {
		color: $colorText;
	}
}

textarea {
	height: auto;
	min-height: 100px;
	resize: none;
}

input[type='submit'],
input[type='radio'],
input[type='checkbox'] {
	height: auto;
	width: auto;
}

input[type='submit'] {
	cursor: pointer;
}

label {
	font: em($labelSize)/1 $labelFont;
}