.item-time-line {
	@extend %clearfix;
	$info: 936px;

	&:nth-child(2) .date:before {
		display: none;		
	}

	.date {
		background: $colorPri;
		border-radius: 100%;
		color: #fff;
		display: block;
		font-weight: bold;
		float: left;
		height: 60px;
		line-height: 60px;
		margin-right: perc(28px,$container);
		position: relative;
		text-align: center;
		width: 60px;

		&:before {
			border-left: 1px dotted $colorDet;
			bottom: 100%;
			content: '';
			height: 20px;
			left: 49%;
			position: absolute;
			width: 1px;
		}
	}

	.course {
		border-right: 1px solid $colorDet;
		color: $colorPri;
		margin-right: perc(20px,$info);
		width: perc(255px,$info);
	}

	p {
		padding-left: perc(20px,$info);
		width: perc(425px,$info);
		padding-right: perc(20px,$info);
	}

	.laboratory {
		padding-left: perc(20px,$info);
		width: perc(150px,$info);
		border-left: 1px solid $colorDet;	
	}

	.info {
		height: 60px;
		float: left;
		width: perc($info,$container);
	}


	.course,
	.laboratory,
	p {
		display: table-cell;
		vertical-align: middle;
		height: 60px;
	}

	.btn-sec {
		float: right;
		margin-top: 15px;
	}
}