// 
// effect performed on the contents of
// 
@keyframes effect {
	0% { @include translateY(-20px); opacity: 0; }
	100% { @include translateY(0); opacity: 1; }
}
@-webkit-keyframes effect {
	0% { @include translateY(-20px); opacity: 0; }
	100% { @include translateY(0); opacity: 1; }
}